
<div class="container mt-5">
 

  <div class="card text-white bg-warning mb-3">
    <div class="card-header text-center text-light"> >>> Important Notice <<<</div>
    <div class="card-body">
      <h4 class="card-title">New Maximum Taxi Fare</h4>
      <p class="card-text">A new maximum taxi fare will commence from the <b class="text-danger-emphasis">1st December 2024</b> and many groups are involved in the work to update all taxi meters by then. So what is happening, and when?</p>
      <p>Following the new fare announcement on September 20th, taxi meter installers have begun working with the Legal Metrology Service (LMS) to prepare for the roll out. Taximeter manufacturers must create the new taxi meter programs and submit them to LMS for approval before your taximeter installer can take bookings from licence holders, therefore installation of the new fare program may not start for a number of weeks. Please continue to monitor the Legal Metrology and NTA websites for further updated information.</p>
      <p>Once each taxi meter has been approved with the new program, NTA will post notices here to its <a href="https://www.nationaltransport.ie/taxi/latest-news-for-spsv-operators/">SPSV Latest News</a> page alerting licence holders that they can now contact their installers to make a booking. Please do not contact your installer for a booking before seeing the confirmation notice about your taximeter model on this Latest News page, as the installers will not be ready to take bookings until the new fare program has been submitted by the taximeter manufacturers and approved by LMS.</p>
      <p>Once you have your taximeter calibrated with the new fare program and you have received your TTI form by email from the installer, you can make a verification booking with LMS by logging onto the Legal Metrology Website <a href="https://taximeterverification.nsai.ie" class="alert-link">https://taximeterverification.nsai.ie</a>, or alternatively please contact the LMS booking line on: 01 143 5951.</p>
      <p class="mb-0">Remember, to avoid any loss of trade, all taxi meters must be verified with the new fare program by December 1st.</p>
    </div>
  </div>
</div>