/* You can add global styles to this file, and also import other style files */
/*
body {
    background-color: #121212;
    color: #ffffff;
  }
  
  .card {
    border: none;
  }
  
  .card-title {
    color: #00aaff;
  }
  
  .card-text, .card ul {
    color: #cccccc;
  }
  
  .card ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .card ul li::before {
    content: "• ";
    color: #00aaff;
  }
    */