

<div class="container mt-5">
  <app-news></app-news>
  <div class="text-center mt-5">
    <h2>SKAN TAXI CENTRE - Proud Suppliers Of</h2>
    <img src="/009.png" alt="Proud Suppliers" class="img-fluid mt-3">
  </div>
  <div class="row justify-content-center">
    <div class="col-md-3">
      <img src="/006.png" alt="Proud Suppliers" class="img-fluid mt-3">
    </div>
    <div class="col-md-3">
      <img src="/003.png" alt="Proud Suppliers" class="img-fluid mt-3">
    </div>
    <div class="col-md-3">
      <img src="/014.png" alt="Proud Suppliers" class="img-fluid mt-3">
    </div>
  </div>
  <app-contact></app-contact>
</div>
