<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card bg-dark text-white">
          <img src="/P6C-2.png" class="card-img-top" alt="Panther P6C">
          <div class="card-body">
            <h5 class="table-dark">Panther P6C - Taximeter With LCD Display</h5>
            <p class="card text-white bg-secondary mb-3">Relying upon the technological values of many years, SEMITRON's Research and Development team designed the Panther taximeter, equipped with an LCD display. It's a small size taximeter, which aims to meet all the needs of the professional driver, offering the usability of the Panther line and SEMITRON's unsurpassed reliability. Its basic advantages are the smart size, as well as its modern and distinct appearance.</p>
            <h6 class="table-secondary">Features</h6>
            <ul class="list-group list-group-flush">
              <li class="list-group-item bg-dark text-white">Installation in any type of vehicle</li>
              <li class="list-group-item bg-dark text-white">Universal mounting for any type of vehicle</li>
              <li class="list-group-item bg-dark text-white">Reinstallation in a new vehicle</li>
              <li class="list-group-item bg-dark text-white">Multiple fares with pre-programming option</li>
              <li class="list-group-item bg-dark text-white">Connection with POS terminals, printers and variety of peripheral devices</li>
              <li class="list-group-item bg-dark text-white">Approved in accordance to the EU standards 2004/22 CE MID</li>
              <li class="list-group-item bg-dark text-white">Fiscal applications</li>
              <li class="list-group-item bg-dark text-white">Available in blue and red lighting</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card bg-dark text-white">
          <img src="/LP50-1.png" class="card-img-top" alt="LP50 Thermal Printer">
          <div class="card-body">
            <h5 class="table-dark">LP50 - Thermal Printer</h5>
            <h6>Features</h6>
            <ul class="list-group list-group-flush">
              <li class="list-group-item bg-dark text-white">Small size–low weight</li>
              <li class="list-group-item bg-dark text-white">Easy mounting</li>
              <li class="list-group-item bg-dark text-white">The fastest thermal printer up to 9.5 lines of text per second at 24 characters per line</li>
              <li class="list-group-item bg-dark text-white">Fiscal integration</li>
              <li class="list-group-item bg-dark text-white">Super low power consumption</li>
              <li class="list-group-item bg-dark text-white">Low operating cost</li>
              <li class="list-group-item bg-dark text-white">Large paper roll (57mm x 50mm)</li>
              <li class="list-group-item bg-dark text-white">RS-485, RS232, USB or Bluetooth connection</li>
              <li class="list-group-item bg-dark text-white">E8 approval</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>